<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IS Catalauge Automation Tests" >

<listeners>
<listener class-name="isCatalogue_test.Listeners"/>
</listeners>

	<test name="Validating IS Catalauge Login page test">
		<classes>
			<class name="portfolio_test.user.TC01_UserLoginTest"/>
		</classes>
	</test>
	<test name="Validating all links and pages present under Home page test">
		<classes>
			<class name="portfolio_test.user.TC02_HomePage"/>
		</classes>
	</test>
	
	<test name="Validating all links and pages present under Catalogue menu test">
		<classes>
			<class name="portfolio_test.user.TC03_CatalogueTest"/>
		</classes>
	</test>
		<test name="Validating all links and pages present under Customer Evidence menu test">
		<classes>
			<class name="portfolio_test.user.TC04_CustomerEvidenceTest"/>
		</classes>
	</test>
	<test name="Validating all links and pages present under Campaigns menu test">
		<classes>
			<class name="portfolio_test.user.TC05_CampaignsPage"/>
		</classes>
	</test>
	<test name="Validating all links and pages present under Resources menu test">
		<classes>
			<class name="portfolio_test.user.TC06_ResourcesPage"/>
		</classes>
	</test>
	
</suite>
